@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --container: white;
    --background: lightskyblue;
    --text-main-clr: black;
}
* {
    font-family: 'Roboto Condensed', sans-serif;
    background: var(--background);

}
.header {
    width: 100%;
    text-align: center;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--container);
    margin: 30px;
}
.flex-container > div {
    margin: 100px;
    background: var(--container);
}
h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color:var(--text-main-clr)
}